<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://modern-neon.com/wp-content/uploads/2015/05/ZBSvAtQ.jpg);">
  <div class="container">
    <h1>Purple your life tonight</h1>
    <p>Only need one cocktail...</p>
  </div>
</div>
