<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i1.wallbox.ru/wallpapers/preview/201722/149648869959329afb7ec868.67143552.jpg);">
  <div class="container">
    <h1>Purple your life tonight</h1>
    <p>Only need one cocktail...</p>
  </div>
</div>
