<div >
  <%= render 'banner'%>
  <div class="row justify-content-center">
    <h1 class="m-5">Cocktails</h1>
  </div>
  <div id="cocktail-cards" class="cocktail-cards">
    <% @cocktails.each do |cocktail| %>
      <%= render 'card', cocktail: cocktail %>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <%= link_to 'New Cocktail', new_cocktail_path , class: 'btn btn-secondary m-4' %>
  </div>
</div>

