<div >
  <%= render 'banner'%>
  <div class="top">
    <h1 class>Create a Cocktail Recipe</h1>
    <%= link_to 'Add Cocktail', new_cocktail_path , id: 'title-button', class: 'btn btn-secondary p-2' %>
  </div>
  <div id="cocktail-cards" class="cocktail-cards">
    <% @cocktails.each do |cocktail| %>
      <%= render 'card', cocktail: cocktail %>
    <% end %>
  </div>
</div>

