<div class="container mt-3">

<h1>Cocktails</h1>
  <div class="row justify-content-center">
    <div class="col-6">
       <% @cocktails.each do |cocktail| %>
          <div class="mb-5"><%= render 'card', cocktail: cocktail %></div>
       <% end %>
     </div>
  </div>
<%= link_to 'New Cocktail', new_cocktail_path , class: 'btn btn-primary mt-2' %>

</div>

